auto-install-peers=true
shamefully-hoist=true
strict-peer-dependencies=false
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=*types*
registry=https://registry.npmmirror.com/
